{% extends 'bolle/homepage.html' %}

{% block title %}Modifica Scheda TV{% endblock %}

{% block content %}
<h1>Modifica Scheda TV</h1>

<h2>Aggiungi Riga</h2>
<form method="GET" action="{% url 'schedatv-update' schedatv.pk %}">

    <label for="categoria" class="form-label">Categoria:</label>
    <select class="form-select" name="categoria" id="categoria" onchange="this.form.submit()">
        <option value="0">Seleziona una categoria...</option>
        {% for categoria in categorie %}
            <option value="{{ categoria.id }}" {% if categoria.id|stringformat:"s" == categoria_selezionata %}selected{% endif %}>{{ categoria.nome }}</option>
        {% endfor %}
    </select>
</form>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="categoria" value="{{ categoria_selezionata }}">
    <label for="giorno" class="form-label mt-3">Giorno del mese {{ schedatv.data|date:"F Y"}}:</label>
    <input type="number" id="giorno" name="giorno" class="form-control" value='{% now "j" %}' min="1" max="31">

    <label for="articolo" class="form-label mt-2">Articolo:</label>
    <select name="articolo" class="form-select" autofocus>
        <option value="">Selezionare un articolo...</option>
        {% for categoria in categorie %}
            {% if categoria.articoli.all %}
                <optgroup label="{{ categoria.nome }}">
                    {% for articolo in categoria.articoli.all %}
                        <option value="{{ articolo.id }}">{{ articolo.nome }} - {{articolo.descrizione}}</option>
                    {% endfor %}
                </optgroup>
            {% endif %}
        {% endfor %}

    </select>

    <label for="quantita" class="form-label mt-2">Quantità:</label>
    <input type="number" name="quantita" min="1" class="form-control">
    <button type="submit" name="add_riga" class="btn btn-success mt-2">Aggiungi</button>

</form>

{% if messages %}
<div class="container mt-4">
    <div class="alert alert-danger">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}

<h2>Righe Correnti</h2>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Giorno</th>
                <th>Codice</th>
                <th>Descrizione</th>
                <th>Quantità</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            {% for riga in righe %}
                <tr>
                    <td>{{ riga.giorno }} {{ schedatv.data|date:"F Y" }}</td>
                    <td>{{ riga.articolo.nome }}</td>
                    <td>{{ riga.articolo.descrizione }}</td>
                    <td>{{ riga.quantita }}</td>
                    <td>
                        <form method="post" action="{% url 'riga-schedaTV-delete' riga.pk %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Nessuna riga aggiunta.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="mt-4 mb-5">
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="confirm" class="btn btn-primary">Conferma</button>
    </form>
</div>
{% endblock %}
