<!DOCTYPE html>
<html lang="it">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}La Centrale delle Bolle{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'bolle/images/favicon-32x32.png' %}" >
    <style>
        .custom-card {
            background: linear-gradient(135deg, #0099ff, #993399);
            /* colori nel gradient:
            #0099ff
            #398ff9 1 bottone
            #5285f2
            #647be9 2 bottone
            #7270de
            #7e65d3 3 bottone
            #8859c6
            #8f4db8 4 bottone
            #9541a9
            #993399 5 bottone*/
            color: white;
        }
        .btn-gradient {
          background: linear-gradient(135deg, #0099ff, #993399);
          border-style: none;
        }
        .ico-home-color1 {
            color: #398ff9 !important;
        }
        .ico-home-color2 {
            color: #647be9 !important;
        }
        .ico-home-color3 {
            color: #7e65d3 !important;
        }
        .ico-home-color4 {
            color: #8f4db8 !important;
        }
        .ico-home-color5 {
            color: #993399 !important;
        }
        .hover-effect {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .hover-effect:hover {
            transform: translateY(-5px);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        }
        .home-card {
            /* aspect-ratio: 1/1;  Mantiene le card quadrate, nun m piace */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            border-radius: 12px;
            transition: all 0.2s ease-in-out;
        }
        body {
            padding-bottom: 60px; /* Altezza del footer */
        }
        .home-card:hover {
            transform: translateY(-3px);
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img width="32" height="32" src="{% static 'bolle/images/favicon-32x32.png' %}">La Centrale delle Bolle</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'bolle-list' %}">Bolle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'fatture-list' %}">Fatture</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'schedetv-list' %}">SchedeTV</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'carichi-list' %}">Carico</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'resi-list' %}">Reso</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'menu-riepiloghi' %}">Riepiloghi</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="mt-1 btn btn-danger btn-sm">Logout</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% if user.is_authenticated %}
        <div class="card custom-card shadow-lg p-2 mb-4 border-0">
            <div class="card-body text-center">
                <i class="bi bi-person-circle display-3"></i>
                <h3 class="mt-3">Benvenuto, <strong>{{ user.get_full_name }}</strong>!</h3>
                <p class="card-text mt-2">
                    <strong>Concessionario:</strong>
                    {% if user.concessionario.nome %}
                        {{ user.concessionario.nome }}
                    {% else %}
                        {{ user.zona.concessionario.nome }}
                    {% endif %}
                    <br>
                    <strong>Zona:</strong>
                    {% if user.zona.nome %}
                        {{ user.zona.nome }}
                    {% else %}
                        Tutte le zone
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="container d-lg-none">
            <div class="row g-3">
                <div class="col-6">
                    <a href="{% url 'bolle-list' %}" class="card shadow-sm home-card">
                        <i class="bi bi-receipt-cutoff display-4 ico-home-color1 pt-3"></i>
                        <p class="fw-bold text-dark mt-2">Bolle</p>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'schedetv-list' %}" class="card shadow-sm home-card">
                        <i class="bi bi-card-list display-4 ico-home-color1 pt-3"></i>
                        <p class="fw-bold text-dark mt-2">Schede TV</p>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'fatture-list' %}" class="card shadow-sm home-card">
                        <i class="bi bi-filetype-xml display-4 ico-home-color2 pt-3"></i>
                        <p class="fw-bold text-dark mt-2">Fatture</p>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'carichi-list' %}" class="card shadow-sm home-card">
                        <i class="bi bi-truck display-4 ico-home-color3 pt-3"></i>
                        <p class="fw-bold text-dark mt-2">Carico</p>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'resi-list' %}" class="card shadow-sm home-card">
                        <i class="bi bi-boxes display-4 ico-home-color4 pt-3"></i>
                        <p class="fw-bold text-dark mt-2">Reso</p>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'menu-riepiloghi' %}" class="card shadow-sm home-card mb-5">
                        <i class="bi bi-graph-up-arrow display-4 ico-home-color5 pt-3"></i>
                        <p class="fw-bold text-dark mt-2">Riepiloghi</p>
                    </a>
                </div>
            </div>
            <div class="card text-center p-3 shadow hover-effect" style="align: center; width: 100%;">
            <h4>Bolla Veloce:</h4>
            {% if messages %}
                <div class="card-body">
                    <div class="alert alert-danger">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <form method="post" class="form">
            {% csrf_token %}
                <label for="cliente" class="form-label">Cliente:</label>
                <select name="cliente" id="cliente" class="form-select">
                    <option value="">Selezionare un cliente...</option>
                    {% for cliente in clienti %}
                        <option value="{{ cliente.id }}">
                            {{ cliente.nome }} - {{cliente.via}}
                        </option>
                    {% endfor %}
                </select>
                <label for="articoli" class="form-label">Articoli:</label>
                <textarea name="articoli" class="form-control" rows="7" cols="15">
127 0
128 0
122 0
101 0
125 0
114 0
171 0</textarea>
                <div class="mt-3">
                    <button type="submit" class="btn btn-success">OK</button>
                    <a href="{% url 'home' %}" class="btn btn-secondary">Cancella</a>
                </div>
            </form>
        </div>
        </div>

        <div class="d-none d-lg-flex justify-content-center gap-4 flex-wrap">
            <div class="card text-center p-3 shadow hover-effect" style="width: 180px;">
                <a href="{% url 'bolle-list' %}" class="text-decoration-none">
                    <i class="bi bi-receipt-cutoff display-4 ico-home-color1"></i>
                    <p class="mt-2 fw-bold text-dark">Lista Bolle</p>
                </a>
            </div>
            <div class="card text-center p-3 shadow hover-effect" style="width: 180px;">
                <a href="{% url 'schedetv-list' %}" class="text-decoration-none">
                    <i class="bi bi-card-list display-4 ico-home-color2"></i>
                    <p class="mt-2 fw-bold text-dark">Lista Schede TV</p>
                </a>
            </div>
            <div class="card text-center p-3 shadow hover-effect" style="width: 180px;">
                <a href="{% url 'fatture-list' %}" class="text-decoration-none">
                    <i class="bi bi-filetype-xml display-4 ico-home-color2"></i>
                    <p class="mt-2 fw-bold text-dark">Lista Fatture</p>
                </a>
            </div>
            <div class="card text-center p-3 shadow hover-effect" style="width: 180px;">
                <a href="{% url 'carichi-list' %}" class="text-decoration-none">
                    <i class="bi bi-truck display-4 ico-home-color3"></i>
                    <p class="mt-2 fw-bold text-dark">Carico</p>
                </a>
            </div>
            <div class="card text-center p-3 shadow hover-effect" style="width: 180px;">
                <a href="{% url 'resi-list' %}" class="text-decoration-none">
                    <i class="bi bi-boxes display-4 ico-home-color4"></i>
                    <p class="mt-2 fw-bold text-dark">Reso</p>
                </a>
            </div>
            <div class="card text-center p-3 shadow hover-effect" style="width: 180px;">
                <a href="{% url 'menu-riepiloghi' %}" class="text-decoration-none">
                    <i class="bi bi-graph-up-arrow display-4 ico-home-color5"></i>
                    <p class="mt-2 fw-bold text-dark">Riepiloghi</p>
                </a>
            </div>
        </div>
        {% else %}
            <div class="container d-flex flex-column flex-lg-row gap-4 justify-content-center align-items-center">
                 <div class="card shadow-lg p-4 border-0 text-center" style="max-width: 400px;">
                    <div class="card-body">
                        <i class="bi bi-truck display-3 text-primary"></i>
                        <h3 class="mt-3">La Centrale delle Bolle</h3>
                        <p class="mt-2 text-muted">Gestisci bolle, fatture e report in un'unica piattaforma intuitiva e veloce, pensata per i concessionari della Centrale del Latte di Salerno.</p>
                    </div>
                </div>
                <div class="card shadow-lg p-4 border-0 text-center" style="max-width: 400px;">
                    <div class="card-body">
                        <i class="bi bi-box-arrow-in-right display-3 text-primary"></i>
                        <h3 class="mt-3">Benvenuto!</h3>
                        <p class="mt-2 text-muted">Accedi per gestire le bolle del tuo concessionario.</p>
                        <a href="{% url 'login' %}" class="btn btn-lg btn-primary w-100 mt-3">
                            <i class="bi bi-key"></i> Accedi
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% endblock %}
    </div>
    <div class="d-none d-lg-block">
    <footer class="fixed-bottom navbar-light bg-light text-center text-muted py-2">
        <div class="container-fluid">
            <small>&copy; {% now "Y" %} Centrale delle Bolle | Realizzato da <strong>Oscar Vasso</strong>.<br>Per info: <a href="mailto:oscar.vasso@hotmail.it"><i class="bi bi-envelope-at"></i></a> | <a href="https://github.com/Kaminari94" target="_blank"><i class="bi bi-github"></i></a> | <a href="https://www.linkedin.com/in/oscar-vasso-b08822194/" target="_blank"><i class="bi bi-linkedin"></i></a></small>
        </div>
    </footer>
    </div>
    <div class="d-grid d-lg-none">
    <footer class="small fixed-bottom navbar-light bg-light text-center text-muted py-2">
        <div class="container-fluid">
            <small>&copy; {% now "Y" %} Centrale delle Bolle | Realizzato da <strong>Oscar Vasso</strong>.</small>
        </div>
    </footer>
    </div>
</body>
</html>