{% extends 'bolle/homepage.html' %}

{% block title %}Menu Riepiloghi{% endblock %}

{% block content %}
<h1>Menu Riepiloghi</h1>

{% if messages %}
<div class="container mt-4">
    <div class="alert alert-danger">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="d-none d-lg-block">

    <div class="d-flex flex-wrap gap-2 mb-4">
        <button class="p-1 btn btn-lg btn-dark flex-fill" type="button" data-bs-toggle="collapse" data-bs-target="#giornCollapse">
            <i class="bi bi-graph-up-arrow"></i> Conteggio Giornaliero
        </button>
        <button class="p-1 btn btn-lg btn-dark flex-fill" type="button" data-bs-toggle="collapse" data-bs-target="#artCollapse">
            <i class="bi bi-person-square"></i> Articoli per Cliente
        </button>
        <button class="p-1 btn btn-lg btn-dark flex-fill" type="button" data-bs-toggle="collapse" data-bs-target="#ClsCollapse">
            <i class="bi bi-bar-chart"></i> Costo Prodotti CLS
        </button>
        <button class="p-1 btn btn-lg btn-dark flex-fill" type="button" data-bs-toggle="collapse" data-bs-target="#casseCollapse">
            <i class="bi bi-box-seam"></i> Casse Vuote
        </button>
        <a class="p-1 btn btn-lg btn-dark flex-fill" href="{% url 'report-avanzato' %}">
            <i class="bi bi-person-vcard"></i> Report Cliente
        </a>
    </div>

        <!-- Card: Conteggio Giornaliero -->
        <div class="collapse" id="giornCollapse">
            <div class="card mb-3">
                <div class="card-header"><strong>Conteggio Giornaliero</strong></div>
                <div class="card-body">
                    <form method="get" action="{% url 'riepilogo-giornaliero' %}">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="data_giorno" class="form-label">Seleziona Data:</label>
                                <input type="date" id="data_giorno" name="data_giorno" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label for="zona" class="form-label">Seleziona Zona:</label>
                                <select id="zona" name="zona" class="form-select">
                                    {% for zona in zone %}
                                        <option value="{{ zona.id }}">{{ zona.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-gradient btn-primary">Visualizza Conteggio Giornaliero</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Card: Articoli per Cliente -->
        <div class="collapse" id="artCollapse">
            <div class="card mb-3">
                <div class="card-header">Riepilogo Articoli per Cliente</div>
                <div class="card-body">
                    <form method="get" action="{% url 'riepilogo-cliente' %}">
                        <div class="row mb-3">
                            <div class="col-md-5">
                                <label for="cliente" class="form-label">Seleziona Cliente:</label>
                                <select id="cliente" name="cliente_id" class="form-select">
                                    <option value="">Selezionare un cliente...</option>
                                {% for cliente in clienti %}
                                    <option value="{{ cliente.id }}">{{ cliente.nome }} - {{ cliente.via }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="data_inizio" class="form-label">Data Inizio:</label>
                                <input type="date" id="data_inizio" name="data_inizio" class="form-control">
                            </div>
                            <div class="col-md-3">
                                <label for="data_fine" class="form-label">Data Fine:</label>
                                <input type="date" id="data_fine" name="data_fine" class="form-control">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-gradient btn-primary">Visualizza Riepilogo Articoli</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Card: Casse e Bancali -->
        <div class="collapse" id="casseCollapse">
            <div class="card mb-3">
                <div class="card-header">Riepilogo Casse e Bancali EPAL</div>
                <div class="card-body">
                    <form method="get" action="{% url 'riepilogo-casse' %}">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="data_inizio" class="form-label">Data Inizio:</label>
                                <input type="date" id="data_inizio" name="data_inizio" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label for="data_fine" class="form-label">Data Fine:</label>
                                <input type="date" id="data_fine" name="data_fine" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label for="zona" class="form-label">Seleziona Zona:</label>
                                <select id="zona" name="zona" class="form-select">
                                    {% for zona in zone %}
                                        <option value="{{ zona.id }}">{{ zona.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <table class="table table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th><i>Riep. veloce per mese di {{ oggi|date:"F" }}:</i></th>
                                        <th>Casse</th>
                                        <th>Bancali</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Caricati</td>
                                        <td>{{ casse_car }}</td>
                                        <td>{{ bancali_car }}</td>
                                    </tr>
                                    <tr>
                                        <td>Scaricati</td>
                                        <td>{{ casse_res }}</td>
                                        <td>{{ bancali_res }}</td>
                                    </tr>
                                    <tr>
                                        <td>Diff:</td>
                                        <td>{{ diff_casse }}</td>
                                        <td>{{ diff_bancali }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="submit" class="btn btn-gradient btn-primary">Visualizza Riepilogo Casse Dettagliato</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Card: Articoli Venduti CLS -->
        <div class="collapse" id="ClsCollapse">
            <div class="card mb-3">
                <div class="card-header">Riepilogo Costo Articoli Venduti per CLS</div>
                <div class="card-body">
                    <form method="get" action="{% url 'riepilogo-cls' %}">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="data_inizio" class="form-label">Data Inizio:</label>
                                <input type="date" id="data_inizio" name="data_inizio" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label for="data_fine" class="form-label">Data Fine:</label>
                                <input type="date" id="data_fine" name="data_fine" class="form-control">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-gradient btn-primary">Visualizza Riepilogo Articoli CLS</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-grid gap-2 d-lg-none">

            <div class="container mt-4">
                <button class="btn btn-dark mb-3 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#giornCollapse" aria-expanded="false" aria-controls="giornCollapse">
                    <i class="bi bi-graph-up-arrow"></i> Conteggio Giornaliero
                </button>
                <button class="btn btn-dark mb-3 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#artCollapse" aria-expanded="false" aria-controls="artCollapse">
                    <i class="bi bi-person-square"></i> Articoli per Cliente
                </button>
                <button class="btn btn-dark mb-3 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#ClsCollapse" aria-expanded="false" aria-controls="ClsCollapse">
                    <i class="bi bi-bar-chart"></i> Costo Prodotti CLS
                </button>
                <button class="btn btn-dark mb-3 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#casseCollapse" aria-expanded="false" aria-controls="casseCollapse">
                    <i class="bi bi-box-seam"></i> Casse Vuote
                </button>

            <!-- Card: Conteggio Giornaliero -->
            <div class="collapse" id="giornCollapse">
                <div class="card mb-5">
                    <div class="card-header">Conteggio Giornaliero</div>
                    <div class="card-body">
                        <form method="get" action="{% url 'riepilogo-giornaliero' %}">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="data_giorno" class="form-label">Seleziona Data:</label>
                                    <input type="date" id="data_giorno" name="data_giorno" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <label for="zona" class="form-label">Seleziona Zona:</label>
                                    <select id="zona" name="zona" class="form-select">
                                        {% for zona in zone %}
                                            <option value="{{ zona.id }}">{{ zona.nome }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-gradient btn-primary w-100">Visualizza Conteggio Giornaliero</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Card: Articoli per Cliente -->
            <div class="collapse" id="artCollapse">
                <div class="card mb-5">
                    <div class="card-header">Riepilogo Articoli per Cliente</div>
                    <div class="card-body">
                        <form method="get" action="{% url 'riepilogo-cliente' %}">
                            <div class="row mb-3">
                                <div class="col-md-5">
                                    <label for="cliente" class="form-label">Seleziona Cliente:</label>
                                    <select id="cliente" name="cliente_id" class="form-select">
                                        <option value="">Selezionare un cliente...</option>
                                    {% for cliente in clienti %}
                                        <option value="{{ cliente.id }}">{{ cliente.nome }} - {{ cliente.via }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="data_inizio" class="form-label">Data Inizio:</label>
                                    <input type="date" id="data_inizio" name="data_inizio" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <label for="data_fine" class="form-label">Data Fine:</label>
                                    <input type="date" id="data_fine" name="data_fine" class="form-control">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-gradient btn-primary w-100">Visualizza Riepilogo Articoli</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Card: Casse e Bancali -->
            <div class="collapse" id="casseCollapse">
                <div class="card mb-5">
                    <div class="card-header">Riepilogo Casse e Bancali EPAL</div>
                    <div class="card-body">
                        <form method="get" action="{% url 'riepilogo-casse' %}">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label for="data_inizio" class="form-label">Data Inizio:</label>
                                    <input type="date" id="data_inizio" name="data_inizio" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label for="data_fine" class="form-label">Data Fine:</label>
                                    <input type="date" id="data_fine" name="data_fine" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label for="zona" class="form-label">Seleziona Zona:</label>
                                    <select id="zona" name="zona" class="form-select">
                                        {% for zona in zone %}
                                            <option value="{{ zona.id }}">{{ zona.nome }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <table class="table table-hover table-responsive">
                                    <thead>
                                        <tr>
                                            <th><i>Riep. veloce per mese di {{ oggi|date:"F" }}:</i></th>
                                            <th>Casse</th>
                                            <th>Bancali</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Caricati</td>
                                            <td>{{ casse_car }}</td>
                                            <td>{{ bancali_car }}</td>
                                        </tr>
                                        <tr>
                                            <td>Scaricati</td>
                                            <td>{{ casse_res }}</td>
                                            <td>{{ bancali_res }}</td>
                                        </tr>
                                        <tr>
                                            <td>Diff:</td>
                                            <td>{{ diff_casse }}</td>
                                            <td>{{ diff_bancali }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button type="submit" class="btn btn-gradient btn-primary w-100">Visualizza Riepilogo Casse Dettagliato</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Card: Articoli Venduti CLS -->
            <div class="collapse" id="ClsCollapse">
                <div class="card mb-5">
                    <div class="card-header">Riepilogo Costo Articoli Venduti per CLS</div>
                    <div class="card-body">
                        <form method="get" action="{% url 'riepilogo-cls' %}">
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <label for="data_inizio" class="form-label">Data Inizio:</label>
                                    <input type="date" id="data_inizio" name="data_inizio" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <label for="data_fine" class="form-label">Data Fine:</label>
                                    <input type="date" id="data_fine" name="data_fine" class="form-control">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-gradient btn-primary w-100">Visualizza Riepilogo Articoli CLS</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}
